<h1 style="text-align: center;">Ministry Home </h1>
<html>
<head></head>
<style>
    #mynav{
     background-color: burlywood;
        width: auto;
        height: auto;
    }
    table,th,td{
   width: 50%;
   height: 50%;
   margin-left: auto;
  margin-right: auto;
   /* border:  3px solid green; */
    }
</style>
<body>
    <!-- <nav id="mynav">
<h1 style="text-align: center; color: red;">National Schlorship Portal</h1>
<h2 style="text-align: center;">State Nodal Officer </h2>
    <h2 style="text-align: center;">Home Page</h2> --> 
<!-- </nav> -->
<table>
    <tr>
        <th>Student Forms</th>
        <th>Institute Forms</th>
    </tr>
    <tr>
    <td style="text-align: center;"><input type="button" name="Fetch" value="Fetch" (click)="submit();">
    <td style="text-align: center;"><input type="button" name="Fetch" value="Fetch" (click)="submit1();">
    </tr> 

</table>


</body>
</html>