<div style="background-color:rgb(221, 227, 238 ); padding-bottom: 2cm; padding-top: 2cm">
<div class="login">
    <h2 class="login-header"> SCHOLARSHIP FORM</h2>

<form [formGroup]="scholarshipform" class="login-container" (ngSubmit)="submitform()" style="text-align: center;">

    <h3>Basic Details</h3>
    <br>
    <p>
     <!-- aadhar
       <input="number"   formControlName="aadharnumber"/> -->
       <label>Aadhar number</label>
        <input type="number" name="aadharnumber" id="aadharnumber" formControlName="aadharnumber" placeholder="xxxxxxxxxxxx"/>
     </p>
   <div *ngIf="!aadharnumber!.valid && (aadharnumber!.dirty || aadharnumber!.touched)" class="error">
        <div *ngIf="aadharnumber!.errors!.required">
         <p> Aadhar Number is required</p>
        </div>
        </div>   

        <p> <label>Religion</label></p> 
         
        <select name="religion" id="religion" formControlName="religion" >
            
            <option value="hindu" selected>Hindu</option>
            <option value="sikh" selected>Sikh</option>
            <option value="muslim" selected>Muslim</option>
            <option value="christan" selected>Christan</option>
            
        </select>
        <div *ngIf="!religion!.valid && (religion!.dirty || religion!.touched)" class="error">
            <div *ngIf="religion!.errors!.required">
               <p> Religion is required</p>
            </div>
            </div>
        <br>
        <br>

       <p><label>Category</label></p> 
        
        <select name="category" id="category"  formControlName="category" >
           
            <option value="sc" selected>SC</option>
            <option value="vijay" selected>Vijay</option>
            <option value="nt" selected>NT</option>
            <option value="obc" selected>OBC</option>
            <option value="open" selected>OPEN</option>
             
        </select>  
        <div *ngIf="!category!.valid && (category!.dirty || category!.touched)" class="error">
            <div *ngIf="category!.errors!.required">
               <p> Category is required</p>
            </div>
            </div>
<br>
         <p>
          <label >Annual Income</label>
          <input type="number" name="annualincome" id="annualincome" formControlName="annualincome" />
      </p>
      <div *ngIf="!annualincome!.valid && (annualincome!.dirty || annualincome!.touched)" class="error">
          <div *ngIf="annualincome!.errors!.required">
          <p> Annual Income is required</p> 
          </div>
          </div>  
           <br>
          <h3>Academic Details</h3>
          <br>

           <p>
            <label >Current Course </label>
            <input type="text" name="currentcourse" id="currentcourse" formControlName="currentcourse" placeholder="B.Tech"/>
        </p>
        <div *ngIf="!currentcourse!.valid && (currentcourse!.dirty || currentcourse!.touched)" class="error">
            <div *ngIf="currentcourse!.errors!.required">
             <p>  Current Course is required </p>
            </div>
            </div>


   <p>
    <label>Current Course Year</label></p> 
        <select name="currentyear" id="currentyear"  formControlName="currentyear" >
           
            <option value="1st" selected>1st</option>
            <option value="2nd" selected>2nd</option>
            <option value="3rd" selected>3rd</option>
            <option value="4th" selected>4th</option>
            <option value="5th" selected>5th</option>
             <option value="6th" selected>6th</option>
        </select>  
    <div *ngIf="!currentyear!.valid && (currentyear!.dirty || currentyear!.touched)" class="error">
        <div *ngIf="currentyear!.errors!.required">
           <p> Current Course year is required</p>
        </div>
    </div> 
  
    <!-- <p> <label>Course/Class Start Date</label>
        <input type="date" name="courseclassdate" id="courseclassdate" formControlName="courseclassdate"></p>
        <div *ngIf="!courseclassdate!.valid && (courseclassdate!.dirty || courseclassdate!.touched)" class="error">
            <div *ngIf="courseclassdate!.errors!.required">
                Current Course/Class start date is required
            </div>
        </div> -->
    
        <p> <label>University Name</label>
        <input type="text" name="universityname" id="universityname"   formControlName="universityname" placeholder="World Peace"/></p>
       <div *ngIf="!universityname!.valid && (universityname!.dirty || universityname!.touched)" class="error">
        <div *ngIf="universityname!.errors!.required">
         <p>University Name is required</p> 
        </div>
    </div> 

    <p>
        <label >Previous Course </label>
        <input type="text" name="previouscourse" id="previouscourse" formControlName="previouscourse" placeholder="B.Tech"/>
    </p>
    <div *ngIf="!previouscourse!.valid && (previouscourse!.dirty || previouscourse!.touched)" class="error">
        <div *ngIf="previouscourse!.errors!.required">
          <p> Previous Course is required</p>
        </div>
        </div>

      <p><label>Previous Course Passing Year</label>
            <input type="number" name="previousyear" id="previousyear" formControlName="previousyear" placeholder="2014"/>
        </p>
        <div *ngIf="!previousyear!.valid && (previousyear!.dirty || previousyear!.touched)" class="error">
            <div *ngIf="previousyear!.errors!.required">
          <p>   Previous Course Passing year is required</p>
            </div>
        </div> 
   
     <p><label>Previous Perctange %</label>
        <input type="number" name="previouspercentage" id="previouspercentage"  formControlName="previouspercentage" placeholder="84.2" /></p>
        <div *ngIf="!previouspercentage!.valid && (previouspercentage!.dirty || previouspercentage!.touched)" class="error">
            <div *ngIf="previouspercentage!.errors!.required">
              <p>  Previous Perctange % is required</p>
            </div>
        </div>   

<br>
        <h3>10th</h3>
        <br>
    
        <p><label>Roll Number</label>
        <input type="text" name="rollnumber" id="rollnumber"   formControlName="rollnumber" placeholder="DE173133" /></p>
        <div *ngIf="!rollnumber!.valid && (rollnumber!.dirty || rollnumber!.touched)" class="error">
            <div *ngIf="rollnumber!.errors!.required">
         <p>    Roll number is required</p> 
            </div>
        </div> 

         <p> <label>Board Name</label>
        <input type="text" name="tenthboardname" id="tenthboardname"  formControlName="tenthboardname" placeholder="State Board"/></p>
        <div *ngIf="!tenthboardname!.valid && (tenthboardname!.dirty || tenthboardname!.touched)" class="error">
            <div *ngIf="tenthboardname!.errors!.required">
           <p>   Board name is required</p>
            </div>
        </div>  

        <p><label> Passing Year</label>
            <input type="number" name="tenthpassyear" id="tenthpassyear" formControlName="tenthpassyear"  placeholder="2017"/>
        </p>
        <div *ngIf="!tenthpassyear!.valid && (tenthpassyear!.dirty || tenthpassyear!.touched)" class="error">
            <div *ngIf="tenthpassyear!.errors!.required">
          <p>  10th Passing year is required</p> 
            </div>
        </div>

         <p><label>10th Perctange %</label>
            <input type="number" name="tenthpercatnge" id="tenthpercatnge"  formControlName="tenthpercatnge" placeholder="84.2" /></p>
            <div *ngIf="!tenthpercatnge!.valid && (tenthpercatnge!.dirty || tenthpercatnge!.touched)" class="error">
                <div *ngIf="tenthpercatnge!.errors!.required">
                <p>    10th Perctange % is required</p>
                </div>
            </div>  

            <br>
        <h3>12th</h3>
        <br>
    
        <p><label>Roll Number</label>
        <input type="text" name="twelvethrollnumber" id="twelvethrollnumber"   formControlName="twelvethrollnumber" placeholder="DE173132" /></p>
        <div *ngIf="!twelvethrollnumber!.valid && (twelvethrollnumber!.dirty || twelvethrollnumber!.touched)" class="error">
            <div *ngIf="twelvethrollnumber!.errors!.required">
            <p>  Roll number is required</p>
            </div>
        </div>  

         <p> <label>Board Name</label>
        <input type="text" name="twelvethboardname" id="twelvethboardname"  formControlName="twelvethboardname" placeholder="State Board"/></p>
        <div *ngIf="!twelvethboardname!.valid && (twelvethboardname!.dirty || twelvethboardname!.touched)" class="error">
            <div *ngIf="twelvethboardname!.errors!.required">
           <p>  Board name is required</p> 
            </div>
        </div>  

        <p><label> Passing Year</label>
            <input type="number" name="twelvethpassyear" id="twelvethpassyear" formControlName="twelvethpassyear" placeholder="2018" />
         </p>
        <div *ngIf="!twelvethpassyear!.valid && (twelvethpassyear!.dirty || twelvethpassyear!.touched)" class="error">
            <div *ngIf="twelvethpassyear!.errors!.required">
          <p>  12th Passing year is required</p> 
            </div>
        </div>  

         <p><label>12th Perctange %</label>
            <input type="number" name="twelvethpercatnge" id="twelvethpercatnge"  formControlName="twelvethpercatnge" placeholder="77.23"/></p>
            <div *ngIf="!twelvethpercatnge!.valid && (twelvethpercatnge!.dirty || twelvethpercatnge!.touched)" class="error">
                <div *ngIf="twelvethpercatnge!.errors!.required">
              <p>    12th Perctange % is required</p>  
                </div>
            </div> 

            <br>
             <h3>Fees Details</h3>
            <br>
    
            <p><label>Admission Fees</label>
                <input type="number" name="admissionfees" id="admissionfees"  formControlName="admissionfees" placeholder="10084"/></p>
                <div *ngIf="!admissionfees!.valid && (admissionfees!.dirty || admissionfees!.touched)" class="error">
                    <div *ngIf="admissionfees!.errors!.required">
                     <p>  Admission Fees is required</p> 
                    </div>
                </div> 

                <p><label>Tution Fees</label>
                    <input type="number" name="tutionfees" id="tutionfees"  formControlName="tutionfees"  placeholder="1005"/></p>
                    <div *ngIf="!tutionfees!.valid && (tutionfees!.dirty || tutionfees!.touched)" class="error">
                        <div *ngIf="tutionfees!.errors!.required">
                          <p>  Tution Fees is required</p>
                        </div>
                    </div> 

                    <p><label>Other Fees</label>
                        <input type="number" name="otherfees" id="otherfees"  formControlName="otherfees" placeholder="1521"/></p>
                        <div *ngIf="!otherfees!.valid && (otherfees!.dirty || otherfees!.touched)" class="error">
                            <div *ngIf="otherfees!.errors!.required">
                             <p>  Other Fees is required</p> 
                            </div>
                        </div> 


                        <br>
            <h3>Other Personal Details</h3>
            <br> 


      <!-- <p> <label >Disabled</label>
        <input type="radio" name="disabled" value="yes" id="disabled" formControlName="disabled">YES
        <input type="radio" name="disabled" value="no" id="disabled" formControlName="disabled">No</p>
         <div *ngIf="!gender!.valid && (gender!.dirty || gender!.touched)" class="error">
          <div *ngIf="gender!.errors!.required">
            Bank name is required
          </div>
      </div>  
    </p> 

     <p><label>Type of Disability</label>
        <input type="text" name="disability" id="disability" value="disability" formControlName="disability"/></p>
         <div *ngIf="!disability!.valid && (disability!.dirty || disability!.touched)" class="error">
            <div *ngIf="disability!.errors!.required">
                Disability is required
            </div>
        </div>  -->

      <p> <label>Maritial Status</label></p> 
        <br>
        <select name="maritialstatus"  id="maritialstatus" formControlName="maritialstatus" >
            <option value="single" selected>Single</option>
            <option value="divorced" selected>Divorced</option>
            <option value="married" selected>Married</option>
        </select> 
        <div *ngIf="!maritialstatus!.valid && (maritialstatus!.dirty || maritialstatus!.touched)" class="error">
            <div *ngIf="maritialstatus!.errors!.required">
              <p>  Maritial Status is required</p>
            </div>
        </div>  
        <br>


           <p><label>Father's Occupation</label>
            <input type="text" name="fatheroccupation" id="fatheroccupation"  formControlName="fatheroccupation" placeholder="Teacher"/></p>
            <div *ngIf="!fatheroccupation!.valid && (fatheroccupation!.dirty || fatheroccupation!.touched)" class="error">
                <div *ngIf="fatheroccupation!.errors!.required">
                 <p>  Father's Occupation is required</p> 
                </div>
            </div> 

            <p><label>Mother's Occupation</label>
                <input type="text" name="motheroccupation" id="motheroccupation"  formControlName="motheroccupation" placeholder="Homemaker"/></p>
                <div *ngIf="!motheroccupation!.valid && (motheroccupation!.dirty || motheroccupation!.touched)" class="error">
                    <div *ngIf="motheroccupation!.errors!.required">
                      <p>  Mother's Occupation is required</p>
                    </div>
                </div>  
                
                <h3>Scholarship</h3>
                <br>
              <p>  <label>Scholarship</label></p>
                <br>
                <select name="schlorship" id="schlorship"  formControlName="schlorship" >
                   
                    <option value="Post Matric Schloarship" selected>Post Matric Schloarship</option>
                    <option value="Pragathi Schloarship" selected>Pragathi Schloarship </option>
                    <option value="Merit based Schloarship" selected>Merit based Schloarship </option>
                    
                </select>  
            <div *ngIf="!schlorship!.valid && (schlorship!.dirty || schlorship!.touched)" class="error">
                <div *ngIf="schlorship!.errors!.required">
                   <p> Scholarship year is required</p>
                </div>
            </div> 
<br>
     
        
    <p>
        <input type="submit" [disabled]="!scholarshipform.valid" value="Register"/>
        <input type="reset" />
    </p>
  </form>
</div>
</div>