<img src="/assets/neonbrand-1-aA2Fadydc-unsplash.jpg" width="700px" style="margin-left:325px;" >
  
  <div class="mx-auto" style="width: 1200px;">
    <br>
    <span class="text-center" style="padding-block:1cm ;"><h2>About Us</h2>
      <br>
      <p > National Scholarships Portal is one-stop solution through which various services starting from student application, application receipt, processing, sanction and disbursal of various scholarships to Students are enabled. National Scholarships Portal is taken as Mission Mode Project under National e-Governance Plan (NeGP)</p> 
       <br>
       <h3 class="font-weight-normal">Vision</h3>
     <p >National Scholarships Portal is one-stop solution through which various services starting from student application, application receipt, processing, sanction and disbursal of various scholarships to Students are enabled. This initiative aims at providing a Simplified, Mission-oriented, Accountable, Responsive & Transparent 'SMART' System for faster & effective disposal of Scholarships applications and delivery of funds directly into beneficiaries account without any leakages.</p>
     <br>
     <h3 class="font-weight-normal">Mission</h3>
     <p >The Mission Mode Project (MMP) of National Scholarships Portal under the National e-Governance Plan aims at providing common electronic portal for implementing various Scholarships schemes launched by Union Government, State Government and Union Territories across the country.</p>
     <br>
     <h3 class="font-weight-normal">Objective</h3>
     <p >Ensure timely disbursement of Scholarships to studentsProvide a common portal for various Scholarships schemes of Central and State GovernmentsCreate a transparent database of scholarsAvoid duplication in processingHarmonisation of different Scholarships schemes & normsApplication of Direct Benefit Transfer</p>
    </span>
    </div>