
<html >
<head>

</head>

<br>
<h1 style="text-align: center;">Institute Home Page</h1>
<br>
<li style="text-align: center;"><a routerLink="" (click)="submit();" style="color: black;">View Student Application Form</a></li>  
<br>
<li style="text-align: center;"><a routerLink="" (click)="submit1();" style="color: black;">Check Status</a></li>  
<br>
<li style="text-align: center;"><a routerLink="" (click)="submit2();" style="color: black;">Logout</a></li>  
<br>
<br>
<router-outlet></router-outlet>

</html>
