
<html>
<head></head>
<style>
  #p1{
      /* text-align: center; */
margin-left: auto;
margin-right: auto;
width:60%;
border:  3px solid green;
padding: 10px;
line-height: 1.8;
  }  
</style>
<body style="background-color:bisque;">
    <h1 style="color: blue; text-align: center;">Scheme-2</h1>
    <h3 style="color: maroon; text-align: center;">PRAGATI SCHOLARSHIP</h3>
    <p id="p1">‘One Girl’ per family and it can be extended for Two Girl Child per family where the family income is less than Rs. 8 Lakh /annum (In case of married girl child, the income of parents/ in laws whichever is higher is to be considered).
        • The selection of candidate will be made on merit based on qualifying examination to peruse the respective Technical Degree/Diploma course from any of the AICTE approved institution. Amount of scholarship: Tuition Fee of Rs. 30,000/-</p>
<div style="text-align: center;">
<input type="submit" style="width: 100px; height: 50px; margin: 0 auto;" (click)="submit();"></div>
    </body>
</html>
<router-outlet></router-outlet>