<!-- <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -my-8">
        <div class="py-8 px-4 lg:w-1/3">
          <div class="h-full flex items-start">
            <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
              < <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Jul</span>
              <span class="font-medium text-lg text-gray-800 title-font leading-none">18</span> 
            </div>
            <div class="flex-grow pl-6">
               <h2 class="tracking-widest text-xs title-font font-medium text-blue-500 mb-1">CATEGORY</h2> 
              <h1 class="title-font text-xl font-medium text-gray-900 mb-3">Updates</h1>
              <p class="leading-relaxed mb-5">Following is list of Scholarship open for all students pursing higher education </p>
              <a class="inline-flex items-center">
                <marquee direction="right" style="color:red;"><ul>Post Matric schlorship</ul><br>
                    <ul>Pragathi Schlorship</ul><br>
                    <ul>Merit Based schlorship</ul><br>
                </marquee><br>
               
                 
                 <img alt="blog" src="https://dummyimage.com/103x103" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center"> 
                <span class="flex-grow flex flex-col pl-3">
                   <span class="title-font font-medium text-gray-900">Alper Kamu</span> 
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="py-8 px-4 lg:w-1/3">
          <div class="h-full flex items-start">
            <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
              <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Jul</span>
              <span class="font-medium text-lg text-gray-800 title-font leading-none">18</span>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-blue-500 mb-1">CATEGORY</h2>
              <h1 class="title-font text-xl font-medium text-gray-900 mb-3">Shooting Stars</h1>
              <p class="leading-relaxed mb-5">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
              <a class="inline-flex items-center">
                <img alt="blog" src="https://dummyimage.com/102x102" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-3">
                  <span class="title-font font-medium text-gray-900">Holden Caulfield</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="py-8 px-4 lg:w-1/3">
          <div class="h-full flex items-start">
            <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
              <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Jul</span>
              <span class="font-medium text-lg text-gray-800 title-font leading-none">18</span>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-blue-500 mb-1">CATEGORY</h2>
              <h1 class="title-font text-xl font-medium text-gray-900 mb-3">Neptune</h1>
              <p class="leading-relaxed mb-5">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
              <a class="inline-flex items-center">
                <img alt="blog" src="https://dummyimage.com/101x101" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-3">
                  <span class="title-font font-medium text-gray-900">Henry Letham</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <img src="/assets/neonbrand-1-aA2Fadydc-unsplash.jpg" width="700px" class="rounded float-left" />
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <h1 class="title-font font-medium text-3xl text-gray-900">Portal Details</h1><br>
        <p class="leading-relaxed mt-4">National Scholarships Portal is one-stop solution through which various services starting from student application, application receipt, processing, sanction and disbursal of various scholarships to Students are enabled. National Scholarships Portal is taken as Mission Mode Project under National e-Governance Plan (NeGP)</p> 
        <br>
        
        <p class="leading-relaxed mt-4"><b>Vision</b>  National Scholarships Portal is one-stop solution through which various services starting from student application, application receipt, processing, sanction and disbursal of various scholarships to Students are enabled.
            This initiative aims at providing a Simplified, Mission-oriented, Accountable, Responsive & Transparent 'SMART' System for faster & effective disposal of Scholarships applications and delivery of funds directly into beneficiaries account without any leakages.</p> 
     
    </div>

      <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
        <h1 class="text-gray-900 text-lg font-medium title-font mb-5">Latest Updates</h1>
        <h2 class= "leading-relaxed mt-4"><marquee direction="up" class="mr-5 hover:text-gray-900" ><ol><li>PMSS applications for WARB scheme has been extended till 30/11/2021.</li><br>
            <li>Applicants for CSSS scheme can apply for renewal, but fresh applicants from only these states can currently apply.</li><br>
            <li>For AY2020-21, for Pre-Matric, Post Matric and Top Class schemes of Department of Empowerment of Persons with Disablitites, the link for correction in bank accounts will be closed on 15.10.2021, after which no further request will be considered.</li><br>
            </ol>
        </marquee><br>
            </h2>
        </div>
    </div>
  </section> -->
  <div class="mx-auto" style="width: 1300px;">
  
    <img src="/assets/neonbrand-1-aA2Fadydc-unsplash.jpg" width="700px" class="rounded float-left"  />
    <h2 style="margin-left:900px; color: rgb(27, 65, 75);">Latest Updates</h2>
    <p style="margin-left:750px;"   ><marquee direction="up" style="color: tomato;" ><ol><li>PMSS applications for WARB scheme has been extended till 30/11/2021.</li><br>
   <br>  <br> <li>Applicants for CSSS scheme can apply for renewal, but fresh applicants from only these states can currently apply.</li><br>
     <br> <br> <li>For AY2020-21, for Pre-Matric, Post Matric and Top Class schemes of Department of Empowerment of Persons with Disablitites, the link for correction in bank accounts will be closed on 15.10.2021, after which no further request will be considered.</li><br>
      </ol><br>
      <br>
      <br>
      </marquee>
    </div>
    <br>
<div class="mx-auto" style="width: 1200px; background: rgb(196, 196, 196); border-radius: 1cm; padding: 1cm;" >
<span class="text-center" style="padding-block:1cm ;"><h2 style="color: rgb(27, 65, 75);">Portal Details</h2>
  <br>
  <p > National Scholarships Portal is one-stop solution through which various services starting from student application, application receipt, processing, sanction and disbursal of various scholarships to Students are enabled. National Scholarships Portal is taken as Mission Mode Project under National e-Governance Plan (NeGP)</p> 
   <br>
   <p > National Scholarships Portal is one-stop solution through which various services starting from student application, application receipt, processing, sanction and disbursal of various scholarships to Students are enabled.
            This initiative aims at providing a Simplified, Mission-oriented, Accountable, Responsive & Transparent 'SMART' System for faster & effective disposal of Scholarships applications and delivery of funds directly into beneficiaries account without any leakages.</p> 
         </span>  
         
           <h3 class="text-center" >Benefits</h3>
           <span class="text-center" > 
            1. Simplified process for the students.<br>
           2. Improved transparency. <br>
           3. Helps in standardisation. <br>
            4. Serves as a decision support system (DSS) for Ministries and departments as up-to date information will be available on demand.<br>
            Comprehensive MIS System to facilitate monitoring every stage of Scholarships distribution i.e. from student registration to delivery of funds.<br>
        </span>
</div>
<br><br>
  

