<div style="background-color:rgb(229, 229, 247); padding-bottom: 2cm;">
    <nav class="navbar Top justify-content-center navbar-light " >
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          
          <li class="page-item"><a class="page-link" routerLink="Scheme1">Scheme 1</a></li>
          <li class="page-item"><a class="page-link" routerLink="Scheme2" >Scheme2</a></li>
          <li class="page-item"><a class="page-link" routerLink="Scheme3">Scheme 3</a></li>
        </ul>
      </nav></nav>
      <router-outlet></router-outlet></div>