table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 30%;
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
   
}

th{
    border: 3px solid #1b1717;
    text-align: center;
    padding: 3px;
    background-color: rgb(182, 166, 255);
}
td
{  
    border: 3px solid #1b1717;
    text-align: center;
    padding: 3px;
}


tr:nth-child(even){
    background-color: #dddddd;
}
button {
    background: lightslategrey;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    
    
    
  }