<div class="container-fluid">
    <div class="row">
    
      <div class="Hero Parallax aa-contact-us-page-hero-image col-xs-10">
        <h1>Welcome</h1>
       <br>
       <br>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3 col text-container">
           
           
          </div>
        </div>
      
        <div class="container aa-contact-us-page-address">
          <div class="row">
            <div class="col-xs-12">
                <p>National Scholarships Portal is one-stop solution through which various services <br>starting from student application, application receipt, processing, sanction and disbursal of various scholarships to Students are enabled.<br>
               <br>  National Scholarships Portal is taken as Mission Mode Project under National e-Governance Plan (NeGP). 
         <br> <br><i>Currently, the NSP has 3 departments and 3 registered schemes.</i></p><br><br>

         <a href="StudentHomePage/Scheme1" style="color:rgb(228, 29, 29);font-style: oblique;"><h3><b>Post Matric Scholarship</b></h3></a>
         <br>
         
         <a href="StudentHomePage/Scheme2" style="color:rgb(228, 29, 29);font-style: oblique;"><h3><b>Pragati Scholarship</b></h3></a>
         <br>
         
         <a href="StudentHomePage/Scheme3"style="color:rgb(228, 29, 29);font-style: oblique;"><h3><b>Merit Based Scholarship</b></h3></a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
