
<!-- <h1 style="text-align: center;">Registration Options</h1>
<li style="text-align: center;"><a routerLink="" (click)="submit()" style="color:black;">Student Registration</a></li>  
<br>
<li style="text-align: center;"><a routerLink="" (click)="submit1()" style="color:black;">Institute Registration</a></li>  
<br>
<router-outlet></router-outlet> -->
<!-- <nav class=" navbar justify-content-center navbar-light ">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center"> 
        <li class="page-item"><a class="page-link"  routerLink="StudentRegistration">Student Registration</a></li>
        <li class="page-item"><a class="page-link" routerLink="InsituteRegistration" >Institute Registration</a></li> 
     </ul>
    </nav>
    </nav>
  
  <router-outlet></router-outlet> -->
  

<nav class="navbar Top justify-content-center navbar-light ">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      
      <li class="page-item"><a class="page-link" routerLink="StudentRegistration">Student Login</a></li>
      <li class="page-item"><a class="page-link" routerLink="InstituteRegistration" >Institute Login</a></li>
    </ul>
  </nav></nav>
  <router-outlet></router-outlet>